/* #clipped {
  -webkit-clip-path: url(#myPath);
  clip-path: url(#myPath);
} */
#clipped_shirt {
  -webkit-clip-path: url(#myPath);
  clip-path: url(#myPath_shirt);
}
#clipped_cup {
  -webkit-clip-path: url(#myPath);
  clip-path: url(#myPath_cup);
}
#clipped_phone {
  -webkit-clip-path: url(#myPath);
  clip-path: url(#myPath_phone);
}
#clipped_poster {
  -webkit-clip-path: url(#myPath);
  clip-path: url(#myPath_poster);
}

.goods {
  position: relative;
  height: 400px;
  margin-bottom: 30px;
}

.img {
  width: 70%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

.img > img {
  width: 100%;
  height: 100%;
}

.texts {
  width: 15%;
  height: 100%;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.texts.shirt {
  width: 34%;
  height: 60%;
  top: 63%;
  transform: translate(-50%, -63%);
}

.texts.cup {
  width: 50%;
  height: 60%;
  left: 39%;
  top: 55%;
  transform: translate(-39%, -55%);
}

.texts.phone {
  width: 32%;
  height: 73%;
  left: 49%;
  top: 88%;
  transform: translate(-49%, -88%);
}

.texts.poster {
  width: 51%;
  height: 98%;
}

.title,
.text {
  display: block;
  width: 100%;
  overflow: hidden;
  white-space: break-spaces;
}

.img:after {
  /* content:"";
  display:block;
  width:50px;
  height:50px;
  background-color:pink; */
}
