@value mediaQuery from 'common/size.css';
@value makerLightGrey from 'common/colors.css';


.editor {
  width: 65%;
  margin-bottom:50px;
  border-right:1px solid makerLightGrey;
  overflow-y:auto;
}

.title {
  text-align: center;
  padding-bottom: 30px;
  font-size: 2em;
}

@media screen and (max-width: mediaQuery) {
    .editor {
      width: 100%;
    }
  }
