.container {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 30px;
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #f0f4f6;
  padding: 10px 20px;
}
.select,
.input,
.textarea {
  border: none;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  text-indent: 10px;
}
.select {
  flex: 0.3;
}
.input {
  margin: 0 15px;
}
.textarea {
  flex: 1 1 40%;
}
.icon {
  display: block;
  max-width: 20px;
  margin-right: 5px;
  font-size: 1.6em;
  color: #1380c9;
}

.button {
  margin-top: 15px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.button:hover {
  opacity: 0.8;
}

.color {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: black;
}

.color.white{
  background-color:white;
}
.color.red{
  background-color:red;
}
.color.pink{
  background-color:pink;
}
.color.orange{
  background-color:orange;
}
.color.yellow{
  background-color:yellow;
}
.color.green{
  background-color:green;
}
.color.blue{
  background-color:blue;
}
