@value mediaQuery from 'common/size.css';

.preview {
  width: 35%;
  margin-bottom:50px;
  overflow-y: auto;
}

.title {
  text-align: center;
  padding-bottom: 30px;
  font-size: 2em;
}

@media screen and (max-width: mediaQuery) {
  .preview {
    width: 100%;
  }
}
