@value makerBlue, makerLightBlue, makerGrey, makerPurple from 'common/colors.css';

.input {
  display: none;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.file {
  width: 100%;
  line-height: 40px;
  border: none;
  cursor: pointer; 
}

.grey {
  background-color: makerGrey;
}

.purple {
  background-color: #c3daf7;
}

.loading {
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid makerBlue;
  border-radius: 50%;
  border-top: 2px solid makerLightBlue;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
